<div class="row">
    <h1 class="text-title">Educación</h1>

    <div class="col-lg-2">
        <button type="button" class="btn btn-primary" routerLink="/neweducation" *ngIf="isLogged">Agregar Educación</button>
    </div>

    <div >
        <table class="table table-striped">
            <tbody>
                <tr *ngFor="let Education of education">
                    <td>
                        <p class="text">{{Education.nombreE}}</p>
                    </td>
                    <td>
                        <p class="sub-text">{{Education.descripcionE}}</p>
                    </td>
                    <div>
                        <td *ngIf="isLogged">
                            <button class="btn btn-light" routerLink="/editedu/{{Education.id}}">
                                <i class="bi bi-pencil-fill"></i></button>
                        </td>
                        <td *ngIf="isLogged">
                            <button class="btn btn-danger" (click)="delete(Education.id)">
                                <i class="bi bi-trash-fill"></i></button>
                        </td>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</div>