.row {
    background-color: #212121;
}

footer {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px 2px 5px white ;
}

.text {
    font-size: calc(0.50em + 0.50vw);
    color: white;
}