.row {
    background-color: #a1b5cd;
}

footer {
    color: gainsboro;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px 2px 5px paleturquoise ;
}