.row {
    padding: 10px;
}

div {
    background-color: #212121;
}

.name {
    text-align: center;
    color: white;
    font-size: calc(1em + 1vw);
    justify-content: center;
}

.sub-text {
    font-size: calc(0.75em + 0.75vw);
    color: white;
}


/* profile image */
@media (min-width: 576px) {
    #profile-photo {
        border-radius: 100%;
        box-shadow: 3px 3px 3px white;
    }

    

    .about {
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 575px) {
    #profile-photo {
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px white;
        left: 33%;
        top: 950px;
    }

    
}