<div class="row">
    <h1 class="text-title">Proyectos Realizados</h1>

    <div class="col-lg-2">
        <button type="button" class="btn btn-primary" routerLink="/newproject" *ngIf="isLogged">Agregar Proyecto</button>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <tbody>
                        <tr *ngFor="let Project of proj">
                            <td>
                                <a [href]="Project.link" target="_blank"><img id="photo-project" src="{{Project.image}}" class="img-fluid" width="200.em"></a>
                            </td>
                            <td>
                                <p class="text">{{Project.title}}</p>
                            </td>
                            <td>
                                <p class="sub-text">{{Project.description}}</p>
                            </td>
                            <div>
                                <td *ngIf="isLogged">
                                    <button class="btn btn-light" routerLink="/editproject/{{Project.id}}">
                                        <i class="bi bi-pencil-fill"></i></button>
                                </td>
                                <td *ngIf="isLogged">
                                    <button class="btn btn-danger" (click)="delete(Project.id)">
                                        <i class="bi bi-trash-fill"></i></button>
                                </td>
                            </div>                            
                        </tr>
                    </tbody>
            </table>
            </div>
        </div>
    </div>
</div>